
@media only screen and (min-width: 700px){
/* max-height: 1000px */
body {
  color: #ffffff;
  /* background-color: #969696; */
  background-image:url(images/libraryBackground.jpg);
  background-size: cover;
}

}
/* @media screen and (max-width: 700px){
  body.background-image {
    display: none;
  }
} */

h1 {
  text-align: center;
  color: #000000;
  font-size: 4em;
}

/* .background-image {
  width: 50%;
} */

/* .searchResults {
  display: flex;
  height: 2000px;
  width: 50%;
} */

/* ======================================================================== */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-container {
  display: flex;
  align-items: center;
  width: 70%;
  justify-content: space-between;

}

.book-images {
  display: flex;
  width: 80%;
  background: #000000;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 2px 2px #38383838;
  align-items: center;
}

.book-images img {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  display: none;
  height: 650px;
}

.book-images img:first-of-type {
  display: block;
}

.carousel-button {
  align-self: center;
  background: #000000;
  color: #888;
  padding: 10px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 1px 1px #a50000;
  width: 30px;
  height: 30px;
  font-size: 1.50em;
}

.carousel-button:hover {
  cursor: pointer;
  background: #a50000;
  box-shadow: 1px 1px #445626;
  color: white;
}

/* ======================================================================== */
.searchResults > h1 {
  text-align: left;
  font-size: 2.75em;
  font-style: normal;
  font-family: "Times New Roman", Times, sans-serif;
}

.searchResults > form {
  text-align: left;
}

.input[type=text] {
  width: 100%;
}

.formInfo > form > input[type=text] {
  font-size: 20px;
  background-color: black;
  color: white;
  border: grey;
  margin: 20px;
  height: 30px;
}

.formInfo > form > input[type=submit] {
  background-color: black;
  height: 30px;
  color: white;
  border: grey;
  margin: 20px;
  width: 110px;
  font-size: 15px;

}

.searchResults > dl > dd {
  color: white;
  font-size: 2em;
}

.searchResults > dl > dt {
  color: white;
  font-size: 2.1em;
}


.searchResults > button {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  padding-left: 20px;
  margin: 20px;
  height: 30px;
  width: 17.5%;
  font-size: 15px;

}
